*:not(i){
    font-family:"Microsoft YaHei","微软雅黑", Helvetica, Tahoma, Arial , sans-serif ! important;
}
body{
    height:auto;
}
.container{
    padding: 1% 5%;
}
@media only screen and (max-width: 767px){	
	.ui.table:not(.unstackable) tr.item-template, .ui.table:not(.unstackable) tr.item-template>td, .ui.table:not(.unstackable) tr.item-template>th{
		display:none !important;
	}
}
.item-template{
	display:none !important;
}
.add{  
    position: absolute;
    right: 0px;
    bottom: 6px;
}
td[name="days"]{
	width: 55px !important;
}
td[name="days-left"]{
	width: 55px !important;
}